.headerContentConteiner{
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: 200;
    font-family: 'Montserrat' sans-serif;
    font-size: 3vw;
}
.HeroImage{
    width: 25vw;
    padding-right: 0vw;
}
.headerContentText{
    text-align: left;
}
.fontBold{
    font-weight: 800;
}
.fontGreen{
    color:#a7d627;
    font-weight: 600;
}
@media(max-width: 768px){
    .headerContentConteiner{
        flex-direction: column;
        width: 100%;
    }
    .headerContentText{
        font-size: 6vw;
    }
}
