.container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 15px;
}
.logoWolox{
    width: 10vw;
    padding-left: 15px;
    
}
.navLink a{
    justify-content: space-around;
    margin: 2vw;
    text-decoration: none;
    color: #000;
}
.button{
    text-decoration: none;
    padding: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1vw;
    font-style: bold;
    font-weight: 600;
    color: #2aa7df;
    background-color: white ;
    border-radius: 15px ;
    border:solid  #2aa7df;
    
}
.button:hover{
    opacity: 0.6;
    text-decoration: none;
}
@media(max-width: 768px){
    .container{
        font-size: 3vw;
    }
}