.container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 15px;
}
img{
    width: 15vw;
}
.navLink a{
    justify-content: space-around;
    margin: 2vw;
    text-decoration: none;
    color: #000;
}