.container{
    text-align: center;
    padding-top: 6vw;
}
.container h3{
    font-size: 2vw;
    font-weight: 300;
}
.imgContainer{
    display: flex;
    justify-content: space-around;
    padding-top: 6vw;
}
.imgContainer img{
    width: 5vw;
    height: 5vw;
}
.fontLightBlue{
    color: #8cc6e1;
}
@media(max-width: 768px){
    .imgContainer{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}


