.mainTopContainer{
    width: 65vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url('../../../assets/img_woloxer.png') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}