.backgroundFooter{
    background: url("../../assets/Backgrounds/Bg_Footer.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden; 
    text-align: center;
    background-attachment: scroll;
    margin-top: 8vw;
    font-size: 2vw;
}
.backgroundFooter h4{
    font-weight: 300;
}
.wordLightBlue{
    color: #34abe0;
}

.button{
    text-decoration: none;
    padding: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1vw;
    font-style: bold;
    font-weight: 600;
    color: white;
    background-color: #2aa7df;
    border-radius: 15px;
    border: #2aa7df;
    margin-bottom: 10vw;
}
.button:hover{
    opacity: 0.6;
    text-decoration: none;
}
.woloxLogo{
    margin-bottom: 4vw;
}