.backgroundHeader{
    background: url("../../assets/Backgrounds/Bg_Header.png") no-repeat center center fixed;
    height: 100%;
    overflow: hidden; 
    background-size: cover;
    background-attachment: scroll;
}